body{
    background-color: #FFFAFA;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI';
    transition: width 1s, height 1s, background-color 2s, transform 3s;
}

#navbar{
    width: 100vw;
    height: 60px;
    background-color: #D41A22;
    text-align: center;
    display: block;
}

.titulo{
    position: absolute;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 12px;
    font-size: 25px;
}

.teste{
    display: inline-block;
    vertical-align: middle;
}

li{
    color: #FFFFFF;
    display: inline-block;
    list-style-type: none;
    margin-right: 5vh;
    font-size: 20px;
}

a{
    text-decoration: none;
}

.teste {
    display: inline-block;
    opacity: 1;
  }
  
@media screen and (max-width: 700px) {
.teste {
    opacity: 0;
    display: none;
}
.titulo{
    position: relative;
    margin-left: 0;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
   }
}

.containerCoisas{
    text-align: center;
    display: block;
    position: relative;
    width: 100vw;
}

.exibir{
    margin-top: 20%;
}

#recebe{
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bold;
    border-radius: 5px ;
    color: #FFFFFF;
    background-color: #D41A22;
}

.aleatorio{
    background-color: white;
    border-radius: 5px;
    border: 2px solid #D41A22;
    width: 140px;
    height: 30px;
    color: #D41A22; 
    font-size: 15px;
}

a:hover, button:hover{
    cursor: pointer;
}